body{
  background: #5934CE;
  background: -moz-linear-gradient(45deg, #5934CE 0%, #1C6EA4 48%, #68C5BF 100%);
  background: -webkit-linear-gradient(45deg, #5934CE 0%, #1C6EA4 48%, #68C5BF 100%);
  background: linear-gradient(45deg, #5934CE 0%, #1C6EA4 48%, #68C5BF 100%);
  }

h1 {
   justify-content: center;
  position: sticky;
  font-size: 5px;
}

#logo{
justify-content: center ;
}

  #site-footer
  {
    display: flex;
  justify-content: center;
  }


a:link,a:visited {
  color: Black;
  background-color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  color: #0000FF;
  background-color: #FFFFC0;
  text-decoration: underline; }

menu {
position: sticky;
align-items: flex-end;
}
