* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}

	body {
    background-image: url("assets\images\tree.jpg");
        min-height: 380px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
		font-family: 'Raleway', sans-serif;
	}
h1{
  font-family:'Great-Vibes', cursive;
}

  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }

  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: rgba(0, 66, 55, 0.671);
      }

  /* Navbar links */
  .topnav a {
    float: left;
    color: tan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: blink;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: tan;
    color: black;

  }


footer {	font-family: 'Great Vibes', cursive;
  color:tan;
  outline-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 66, 55, 0.671);
  font-size: 20px;
  text-align: center;
}
