* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("assets\images\tree.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Raleway", sans-serif;
}
#jumbotron {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}


#weather {
  text-align: center;
  width: 55%;
  margin: 20px auto;
  font-size: 25px;
  color: tan;
  outline-color: black;
  background-color: rgba(0, 66, 55, 0.671);
}
#jumbotron > h2  {
  text-align: center;
  width: 75%;
  margin: 20px auto;
  font-size: 45px;
  color: tan;
  outline-color: black;
  background-color: rgba(0, 66, 55, 0.671);

  text-align: center;
}

h1{
  color:tan;
  font-family: "Great Vibes", cursive;
  text-align: center;
  outline-color: black;
  font-size: 60px;
  width: 100%;
  background-color: rgba(0, 66, 55, 0.671);

  text-align: center;
}

.jokes {
  text-align:justify;
  width: 75%;
  margin: 100px auto;
  font-size: 27px;
  color: tan;
  outline-color: black;
  background-color: rgba(0, 66, 55);




}



/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgba(0, 66, 55, 0.671);
}

/* Navbar links */
.topnav a {
  float: left;
  color: tan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: blink;
  font-size: 17px;
}

.topnav a:hover {
  background-color: tan;
  color: black;
}

footer {
  font-family: "Great Vibes", cursive;
  color: tan;
  outline-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 66, 55, 0.671);
  font-size: 20px;
  text-align: center;
}
video.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
margin-top: 40px;
margin-bottom:45px;
}


